
<div>

</div>
<div class="field-banner-text">
    Undergraduate Admission
</div>
<div class="field-banner-image">
    <img typeof="foaf:Image" src="../../assets/student-science_0.jpg" alt="">
</div>

<h1>Admissions Status: <strong>Not Accepted</strong> </h1>

<div class="text-center">
    <h2>
        Hello,
    </h2>

    <h3>
        We regret to inform you that the Committee on Admissions has not admitted you to the incoming freshmen class.<br><br> We have come to this decision after careful consideration of your qualifications, and did not find enough evidance to extend admission at this time.<br><br>

        Thank you again for your time and best wishes for your future.<br/><br>

        Yours sincerely,<br><br>
        Franklin Normandy <br><br>
        Dean of Admissions
    </h3>
</div>